nav {
  padding: 0 1rem;
}

.content {
  min-height: calc(100vh - 70px - 64px);
  padding: 1.5rem 0;
}

.goods {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
}

.card {
  display: flex;
  flex-direction: column;
}

.card .card-content {
  flex-grow: 1;
}

.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(calc(33.3% - 1rem), 1fr));
  gap: 1rem;
}

img, iframe {
  max-width: 100%;
}

iframe {
  width: 600px;
  height: 350px;
}